{% extends "base.html" %}
{% load static  %} 
{% block content %}

<section id="home">
    <div class="container">
		
      <div class="plate">
         <form id="addform" class="form" method="POST" enctype="multipart/form-data" action="/genome_manipulation/protein_synthesis/">
            {% csrf_token %}
            <fieldset>
            <legend>Enter Your Sequence Here</legend>
               {{ form.as_p }}
            </fieldset>
            <div>
               <button type="submit">Add</button>
            </div>

         </form>
      </div>

      {% if converted_sequence %}
      <div class="plate">
         RESULT
         <div class="sequence">
            {% for sequence in converted_sequence %}
               <p>{{ sequence }}</p>
				{% endfor %}
         </div>
      </div>
      {% endif %}

	</div>
</section>
	
{% endblock content%}