{% extends "base.html" %}
{% load static  %} 
{% block content %}

<section id="home">
    <div class="container">
		<form id="addform" class="form" method="POST" enctype="multipart/form-data" action="/genome_manipulation/protein_synthesis/">
            {% csrf_token %}
            <fieldset>
            <legend>Enter Your Sequence Here</legend>
               {{ form.as_p }}
            </fieldset>
            <div>
               <button type="submit">Add</button>
            </div>

            <div class="sequence">
               {% for sequence in converted_sequence %}
                  <h3>{{ sequence }}</h3>
				   {% endfor %}
            </div>

         </form>
	</div>
</section>
	
{% endblock content%}