{% extends "base.html" %}
{% load static  %} 
{% block content %}

<section id="home">
    <div class="container">

      <div class="plate">
         <form id="addform" class="form" method="POST" enctype="multipart/form-data" action="/genome_manipulation/translation/">
            {% csrf_token %}
            <fieldset>
            <legend>Enter Your Sequence Here</legend>
               {{ form.as_p }}
            </fieldset>
            <div>
               <button type="submit">Add</button>
            </div>
         </form>
      </div>

         {% if translated_sequence %}
         <div class="plate">
            RESULT <p class="sequence">{{ translated_sequence }}</p>
         </div>
         {% endif %}
	</div>
</section>
	
{% endblock content%}