{% extends "base.html" %}
{% load static  %} 
{% block content %}

<section id="home">
    <div class="container">
		<div style="text-align:justify">
            <p>
            Bioinformatics (/ˌbaɪ.oʊˌɪnfərˈmætɪks/) is an interdisciplinary field that develops methods and software tools for understanding biological data, in particular when the data sets are large and complex. As an interdisciplinary field of science, bioinformatics combines biology, chemistry, physics, computer science, information engineering, mathematics and statistics to analyze and interpret the biological data. Bioinformatics has been used for in silico analyses of biological queries using computational and statistical techniques.
            </p>
            <p>
            Bioinformatics includes biological studies that use computer programming as part of their methodology, as well as specific analysis "pipelines" that are repeatedly used, particularly in the field of genomics. Common uses of bioinformatics include the identification of candidates genes and single nucleotide polymorphisms (SNPs). Often, such identification is made with the aim to better understand the genetic basis of disease, unique adaptations, desirable properties (esp. in agricultural species), or differences between populations. In a less formal way, bioinformatics also tries to understand the organizational principles within nucleic acid and protein sequences, called proteomics.
            </p>
        </div>
	</div>
</section>
	
<script src="{% static 'genomeManipulations/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'genomeManipulations/js/jquery.dataTables.min.js' %}"></script>
<!-- <script>
    $(document).ready(function () {
        $('#allFountainPensTable').DataTable();
    });
</script> -->
{% endblock content%}